
sims/

todo.txt

*.pyc

export/

model/

*converted-to.pdf

voldens5.py

data/

aa.bst
aa.cls
biblio.bib 
paper.aux
paper.bbl
paper.blg
paper.fdb_latexmk
paper.fls
paper.log
paper.synctex.gz

iframe_figures/

*.pickle

make.bat

Makefile

source/

build/doctrees/
build/
paper/figure/cores/
